@tailwind base;
@tailwind components;
@tailwind utilities;

.image-overlay{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0,1));
}
.handletext{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;               /* Adjusts to the width of the parent container */
    display: block;

}